<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriFit</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/64e53fb2c3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/home-styles.css">
</head>

<body>
    <div>
        <header>
            <img src="/public/assets/NutriFit Logo Combined Side.svg" alt="Nutrifit logo" id="logo">
            <nav class="header-navbar">
                <a href="#" id="header-nav-features">
                    Features
                </a>
                <a href="#" id="header-nav-about">
                    About
                </a>
                {{#if logged_in}}
                    <a href="#" id="header-nav-logout">Logout</a> |
                    {{else}}
                    <a href="#" id="header-nav-login">Login</a>
                    {{/if}}
            </nav>
        </header>

        <main>
            {{{body}}}
        </main>

        <footer>
            <hr id="footer-line">
            <p id="footer-copyright">
                &copy; 2024 Brendan Trepal, Rachel Vanetta, Fred Duncan, Andrew Pelfrey.
                <br>
                All rights reserved.
            </p>
        </footer>
    </div>
</body>

</html>