<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriFit</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div>
        <header>
            <nav>
                <p>
                    Features
                </p>
                <p>
                    About
                </p>
                <!-- {{#if logged_in}}
                    <a href="/profile">profile</a> |
                    <button class="no-button" id="logout">logout</button>
                    {{else}}
                    <a href="/login">login</a>
                    {{/if}} -->
            </nav>
        </header>

        <main>
            {{{ body }}}
        </main>

        <footer>
            <nav>
                <p>
                    Features
                </p>
                <p>
                    About
                </p>
                <p>
                    &copy; 2024 Brendan Trepal, Rachel Vanetta, Fred Duncan, Andrew Pelfrey.
                    <br>
                    All rights reserved.
                </p>
            </nav>
        </footer>
    </div>
</body>

</html>