<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriFit</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/64e53fb2c3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/home-styles.css">
</head>

<body>
    <div>
        <header>
            <img src="/public/assets/NutriFit Logo Combined Side.svg" alt="Nutrifit logo" id="logo">
            <nav class="header-navbar">
                <a href="#" id="header-nav-features">
                    Features
                </a>
                <a href="#" id="header-nav-about">
                    About
                </a>
                <!-- {{#if logged_in}}
                    <a href="/profile">profile</a> |
                    <button class="no-button" id="logout">logout</button>
                    {{else}}
                    <a href="/login">login</a>
                    {{/if}} -->
            </nav>
        </header>

        <main>
            <section class="section-1">
                <h1 id="s1-title">
                    Welcome to <br> NutriFit,
                </h1>
                <p id="s1-para">
                    an all-in-one fitness and nutrition tracker.
                </p>
            </section>

            <section class="section-2">
                <h3 id="s2-title">
                    One web app for all your fitness and <br> nutrition-tracking needs
                </h3>
                <p id="s2-para">
                    From counting calories to setting up workout routines, <br> diet tracking, meal planning and more,
                    <br> NutriFit has everything you need to turn your <br> fitness goals into achievements.
                </p>
                <div class="btn-area">
                    <button id="s2-btn1">GET STARTED</button>
                    <button id="s2-btn2">LEARN MORE</button>
                </div>
            </section>

            <hr id="line">

            <section class="section-3">
                <h2 id="s3-title">
                    Features
                </h2>
                <div class="features-area">
                    <div class="features-para">
                        <h3 id="s3-subtitle">
                            Attainable health and wellness is what NutriFit is all about
                        </h3>
                        <p id="s3-para">
                            Whether you're a beginner wanting to take the first step toward a healthy lifestyle or a
                            seasoned
                            pro looking to shake up their workout routine, we want to help you reach your fitness and
                            nutritional goals. That's why we developed this all-in-one, user-friendly web app and packed
                            it
                            full
                            of features. Discover the best of what NutriFit has to offer!
                        </p>
                    </div>
                    <img src="/public/assets/vitalii-pavlyshynets-kcRFW-Hje8Y-unsplash.jpg"
                        alt="Nutritional foods on a green background" id="features-img">
                </div>
            </section>

            <section class="section-4">
                <div class="feature-1">
                    <i class="fa-solid fa-utensils" id="utensils"></i>
                    <h4 id="s4-title1">Meal Logging</h4>
                    <p id="s4-para1">
                        Organize and log meals and view nutritional values for specific foods such as fat content,
                        protein, and calories.
                    </p>
                </div>
                <div class="feature-2">
                    <i class="fa-solid fa-dumbbell" id="dumbbell"></i>
                    <h4 id="s4-title2">Workout Planning</h4>
                    <p id="s4-para2">
                        Browse workouts by targeted muscle group, view workout instructions, and track calories burned
                        each workout session.
                    </p>
                </div>
                <div class="feature-3">
                    <i class="fa-solid fa-medal" id="medal"></i>
                    <h4 id="s4-title3">Goal Tracking</h4>
                    <p id="s4-para3">
                        Set and track progress toward fitness and nutritional goals and view your stats throughout your
                        fitness journey.
                    </p>
                </div>
            </section>
        </main>

        <footer>
            <hr id="footer-line">
            <p id="footer-copyright">
                &copy; 2024 Brendan Trepal, Rachel Vanetta, Fred Duncan, Andrew Pelfrey.
                <br>
                All rights reserved.
            </p>
        </footer>
    </div>
</body>

</html>