<section>
    <h1>
        Welcome to NutriFit
    </h1>
    <p>
        An all-in-one fitness and nutrition tracker.
    </p>
</section>

<section>
    <h3>
        One web app for all your fitness and nutrition-tracking needs
    </h3>
    <p>
        From counting calories to setting up workout routines, diet tracking, meal planning and more,
        NutriFit has everything you need to turn your fitness goals into achievements.
    </p>
    <button>GET STARTED</button>
    <button>LEARN MORE</button>
</section>

<hr>

<section>
    <h2>
        Features
    </h2>
    <h3>
        Attainable health and wellness is what NutriFit is all about
    </h3>
    <p>
        Whether you're a beginner wanting to take the first step toward a healthy lifestyle or a seasoned
        pro looking to shake up their workout routine, we want to help you reach your fitness and
        nutritional goals. That's why we developed this all-in-one, user-friendly web app and packed it full
        of features. Discover the best of what NutriFit has to offer!
    </p>
</section>