<section class="section-1">
    <h1 class="s1-title">
        Welcome.
    </h1>
</section>

<form class="section-6" id="loginForm">
    <h3 id="form-title">
        Login
    </h3>
    <div class="form-area">
        <input type="email" class="form-input" id="email" placeholder="Email" required>
    </div>
    <div class="form-area">
        <input type="password" class="form-input" id="password" placeholder="Password" required>
        {{!-- <a href="#" id="form-link">Forgot password?</a> --}}
    </div>
    <button class="form-btn">Login</button>
    <p id="form-para">
        Don't have an account? <a href="/signup#sign-upForm" id="form-link">Sign up</a>
    </p>
</form>
<script src="/js/login.js"></script>