<section class="section-5">
    <h1 id="s5-title">
        Welcome.
    </h1>
</section>

<form class="section-6" id="loginForm">
    <h3 id="s6-title">
        Login
    </h3>
    <div class="s6-area">
        <label id="s6-label">Email</label>
        <input type="email" class="s6-input" id="email" required>
    </div>
    <div class="s6-area">
        <label id="s6-label">Password</label>
        <input type="password" class="s6-input2" id="password" required>
        {{!-- <a href="#" id="s6-link">Forgot password?</a> --}}
    </div>
    <button class="s6-btn">Login</button>
    <p id="s6-para">
        Don't have an account? <a href="/signup#sign-upForm" id="s6-link2">Sign up</a>
    </p>
</form>