<section class="section-5">
    <h1 id="s5-title">
        Welcome.
    </h1>
</section>

<section class="section-6">
    <h3 id="s6-title">
        Login
    </h3>
    <div class="s6-area">
        <label id="s6-label">Email</label>
        <input type="email" id="s6-input" required>
    </div>
    <div class="s6-area">
        <label id="s6-label">Password</label>
        <input type="password" id="s6-input2" required>
        <a href="#" id="s6-link">Forgot password?</a>
    </div>
    <button id="s6-btn">Login</button>
    <p id="s6-para">
        Don't have an account? <a id="s6-link2">Sign up</a>
    </p>
</section>