<div class="s1-group">
    <h2 id="s1-title">Log a meal</h2>
    <div class="s1-area">
        <label id="s1-label">Meal name</label>
        <input type="text" id="s1-input" required>
    </div>
    <div class="s1-area">
        <label id="s1-label">Date</label>
        <input type="date" id="s1-input" required>
    </div>
    <input type="submit" id="s1-btn" value="Submit">
</div>