<div class="charts">
    <div style="width: 30%;">
        <canvas id="line-graph"></canvas>
    </div>
    <div style="width: 30%;">
        <canvas id="donut-chart"></canvas>
    </div>
    <div style="width: 30%;">
        <canvas id="radar-chart"></canvas>
    </div>
</div>
    <div style="width: 30%;"><canvas id="line-graph"></canvas></div>
    <div style="width: 30%;"><canvas id="donut-chart"></canvas></div>
    <div style="width: 30%;"><canvas id="radar-chart"></canvas></div>
</div>

<script src="../public/js/donut-chart.js"></script>
<script src="../public/js/line-graph.js"></script>
<script src="../public/js/radar-chart.js"></script>

