<section class="section-1">
    <h1 class="s1-title">
        Welcome.
    </h1>
</section>

<form id="sign-upForm" class="form">
    <h3 id="form-title">
        Create a NutriFit account
    </h3>
    <p id="form-req">
        <em>All fields required</em>
    </p>
    <div class="form-area">
        <input type="text" class="form-input" id="firstName" placeholder="First Name" required>
    </div>
    <div class="form-area">
        <input type="text" class="form-input" id="lastName" placeholder="Last Name" required>
    </div>
    <div class="age-wt">
        <div class="age-wt-area">
            <input type="number" class="form-input" id="age" min="1" max="120" maxlength="3" placeholder="Age (yrs)" required>
        </div>
        <div class="age-wt-area">
            <input type="number" class="form-input" id="weight" min="1" max="600" maxlength="3" placeholder="Weight (lbs)" required>
        </div>
    </div>
    <div class="form-area">
        <input type="email" class="form-input" id="email" placeholder="Email" required>
    </div>
    <div class="form-area">
        <p><em id="pass-req">&#40;Must be at least 8 characters&#41;</em></p>
        <input type="password" class="form-input" id="password" placeholder="Password" required>
    </div>
    <div class="form-area">
        <input type="password" class="form-input" id="confirm" placeholder="Confirm Password" required>
    </div>
    <button type="submit" class="form-btn" id="submitButton">Create Account</button>
    <p id="form-para">
        Already have an account? <a href="/login#loginForm" id="form-link">Login</a>
    </p>
</form>

 <script src="/js/signup.js"></script>