<section class="section-5">
    <h1 id="s5-title">
        Welcome.
    </h1>
</section>

<form id="sign-upForm" class="section-6">
    <h3 id="s6-title">
        Create a NutriFit account
    </h3>
    <p id="s6-req">
        <em>All fields required</em>
    </p>
    <div class="s6-area">
        <label id="s6-label">First Name</label>
        <input type="text" class="s6-input" id="firstName" required>
    </div>
    <div class="s6-area">
        <label id="s6-label">Last Name</label>
        <input type="text" class="s6-input" id="lastName" required>
    </div>
    <div id="age-wt">
        <div class="s6-area2">
            <label id="s6-label">Age &#40;years&#41;</label>
            <input type="number" class="s6-input" id="age" min="1" max="120" maxlength="3" required>
        </div>
        <div class="s6-area2">
            <label id="s6-label">Weight &#40;lbs.&#41;</label>
            <input type="number" class="s6-input" id="weight" min="1" max="600" maxlength="3" required>
        </div>
    </div>
    <div class="s6-area">
        <label id="s6-label">Email</label>
        <input type="email" class="s6-input" id="email" required>
    </div>
    <div class="s6-area">
        <label id="s6-label">Password</label>
        <input type="password" class="s6-input2" id="password" required>
    </div>
    <div class="s6-area">
        <label id="s6-label">Confirm Password</label>
        <input type="password" class="s6-input2" id="confirm" required>
    </div>
    <button type="submit" class="s6-btn" id="submitButton">Create Account</button>
</form>