body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/* DESKTOP VIEW =============================================================================================> */
@media screen and (min-width: 768px) {
    .r1 {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 100vh;
    }

    .c1 {
        display: flex;
        flex-direction: column;
        width: 15%;
        height: 100%;
    }

    .c2 {
        display: flex;
        flex-direction: column;
        width: 85%;
        height: 100%;
    }

    aside {
        background-color: #2F2F2F;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo {
        width: 80%;
        margin-top: 4.5vw;
        margin-bottom: 4.5vw;
    }

    #side-line {
        width: 90%;
        border: .15vw solid #9B9B9B;
    }

    #links {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2vw;
    }

    #main-links {
        display: flex;
        flex-direction: column;
    }

    .link {
        font-family: "DM Sans", sans-serif;
        font-size: 2vw;
        color: #9B9B9B;
        text-decoration: none;
        text-align: left;
        margin-bottom: 2vw;
    }

    .link:hover {
        color: #F3F3F3;
        cursor: pointer;
    }

    #home {
        font-family: "DM Sans", sans-serif;
        font-size: 2vw;
        color: #9B9B9B;
        text-decoration: none;
        text-align: left;
    }

    #home:hover {
        color: #F3F3F3;
        cursor: pointer;
    }

    /* Header */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 30%;
        margin: 0;
    }

    #s1 {
        display: flex;
        flex-direction: column;
        padding: 2vw;
        width: 80%;
    }

    #hello {
        font-family: "DM Sans", sans-serif;
        font-size: 4vw;
        font-weight: 400;
        color: #010101;
        margin: 0;
    }

    #welcome {
        font-family: "Open Sans", sans-serif;
        font-size: 2vw;
        font-weight: 200;
        color: #010101;
        margin: 0;
    }

    #logout {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #010101;
        font-family: "DM Sans", sans-serif;
        font-size: 2vw;
        text-decoration: none;
        margin-top: 2vw;
        margin-right: 2vw;
    }

    #logout:hover {
        color: #9B9B9B;
        cursor: pointer;
    }

    .dropdown {
        display: none;
    }

    /* Dashboard */
    section {
        display: flex;
        flex-direction: row;
        background-color: #F3F3F3;
        height: 60%;
        width: 100%;
        margin: 0;
    }

    /* Overview Subpage ============================================== */

    .charts {
        width: 35%;
    }

    .charts2 {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
        margin: 0;
    }

    #line-graph {
        width: 25%;
        height: 100%;
        padding: 1vw;
        margin: 2vw;
        border-radius: 2vw;
        background-color: #D9D9D9;
    }

    #donut-chart {
        width: 25%;
        padding: 1vw;
        margin: 2vw;
        border-radius: 2vw;
        background-color: #D9D9D9;
    }

    #radar-chart {
        width: 25%;
        padding: 1vw;
        margin: 2vw;
        border-radius: 2vw;
        background-color: #D9D9D9;
    }

    /* Fitness & Nutrition Subpages ============================================== */

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #D9D9D9;
        border-radius: 4vw;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 6vw;
        margin-bottom: 6vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    #form-title {
        color: #010101;
        font-family: "DM Sans", sans-serif;
        font-size: 3vw;
        font-weight: 700;
        text-align: center;
        margin-top: 0;
        margin-bottom: 1vw;
    }

    .form-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 2vw;
    }

    .form-input {
        border: .2vw solid #2F2F2F;
        border-radius: 1vw;
        height: 3vw;
        font-family: "Open Sans", sans-serif;
        font-size: 1.5vw;
        padding-left: 2vw;
    }

    ::placeholder {
        font-family: "Open Sans", sans-serif;
        font-size: 1.5vw;
        padding-left: 1vw;
    }

    .dur-date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        padding: 0;
        margin-bottom: 2vw;
    }

    .dur-date-area {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .form-btn {
        background-color: #428C5F;
        color: #EFEFEF;
        border: 0;
        border-radius: 30px;
        height: 3vw;
        font-family: "DM Sans", sans-serif;
        font-size: 1.5vw;
        font-weight: 600;
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .form-btn:hover {
        background-color: #56AD78;
        cursor: pointer;
    }

    /* Footer */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        text-align: center;
        margin: 0;
    }

    #footer-copyright {
        font-family: "Open Sans", sans-serif;
        font-size: 1vw;
    }
}

/* MOBILE VIEW =============================================================================================> */
@media screen and (max-width: 768px) {
    .r1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .c1 {
        display: none;
    }

    .c2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    #side-line {
        display: none;
    }

    /* Header */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 20vw;
        width: 100%;
    }

    #s1 {
        display: flex;
        flex-direction: column;
        padding: 3vw;
        width: 50%;
    }

    #hello {
        font-family: "DM Sans", sans-serif;
        font-size: 6vw;
        font-weight: 400;
        color: #010101;
        margin: 0;
    }

    #welcome {
        font-family: "Open Sans", sans-serif;
        font-size: 3.25vw;
        font-weight: 200;
        color: #010101;
        margin: 0;
    }

    #logout {
        display: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-top: 5vw;
        margin-right: 5vw;
    }

    .hamburger {
        color: #010101;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #2F2F2F;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        right: 0;
    }

    .dropdown-content a {
        font-family: "DM Sans", sans-serif;
        font-size: 4vw;
        color: #9B9B9B;
        text-decoration: none;
        text-align: left;
        margin-bottom: 2vw;
        padding-left: 2vw;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #434343;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .hamburger {
        color: #9B9B9B;
    }

    /* Dashboard */
    section {
        background-color: #F3F3F3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    /* Overview Subpage ============================================== */

    .charts {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .charts2 {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1vw;
        margin: 0;
    }

    #line-graph {
        height: 100%;
        padding: 1vw;
        margin: 2vw;
        border-radius: 2vw;
        background-color: #D9D9D9;
    }

    #donut-chart {
        height: 100%;
        padding: 1vw;
        margin: 2vw;
        border-radius: 2vw;
        background-color: #D9D9D9;
    }

    #radar-chart {
        height: 100%;
        padding: 1vw;
        margin: 2vw;
        border-radius: 2vw;
        background-color: #D9D9D9;
    }

    /* Fitness & Nutrition Subpages ============================================== */

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #D9D9D9;
        border-radius: 6vw;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 6vw;
        margin-bottom: 6vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    #form-title {
        color: #010101;
        font-family: "DM Sans", sans-serif;
        font-size: 5vw;
        font-weight: 700;
        text-align: center;
        margin-top: 0;
        margin-bottom: 1vw;
    }

    .form-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2vw;
    }

    .form-input {
        border: .2vw solid #2F2F2F;
        border-radius: 1vw;
        height: 6vw;
        font-family: "Open Sans", sans-serif;
        font-size: 3vw;
        padding-left: 2vw;
    }

    ::placeholder {
        font-family: "Open Sans", sans-serif;
        font-size: 3vw;
        padding-left: 2vw;
    }


    .dur-date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 0;
        margin-bottom: 2vw;
    }

    .dur-date-area {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .form-btn {
        background-color: #428C5F;
        color: #EFEFEF;
        border: 0;
        border-radius: 30px;
        height: 6vw;
        font-family: "DM Sans", sans-serif;
        font-size: 4vw;
        font-weight: 600;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .form-btn:hover {
        background-color: #56AD78;
        cursor: pointer;
    }

    /* Footer */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        width: 100%;
        text-align: center;
    }

    #footer-copyright {
        color: #010101;
        font-family: "Open Sans", sans-serif;
        font-size: 2.5vw;
        font-weight: 300;
        text-align: center;
        padding-top: 2vw;
        margin-bottom: 2vw;
    }
}